.hidden {
  visibility: hidden;
}
.pad-none {
  padding: 0px !important;
}
.pad-xs {
  padding: 3px !important;
}
.pad-sm {
  padding: 5px !important;
}
.pad-md {
  padding: 10px !important;
}
.pad-lg {
  padding: 20px !important;
}
.pad-xl {
  padding: 30px !important;
}
.pad-xxl {
  padding: 60px !important;
}
.l-pad-none {
  padding-left: 0px !important;
}
.l-pad-xs {
  padding-left: 3px !important;
}
.l-pad-sm {
  padding-left: 5px !important;
}
.l-pad-md {
  padding-left: 10px !important;
}
.l-pad-lg {
  padding-left: 20px !important;
}
.l-pad-xl {
  padding-left: 30px !important;
}
.l-pad-xxl {
  padding-left: 60px !important;
}
.r-pad-none {
  padding-right: 0px !important;
}
.r-pad-xs {
  padding-right: 3px !important;
}
.r-pad-sm {
  padding-right: 5px !important;
}
.r-pad-md {
  padding-right: 10px !important;
}
.r-pad-lg {
  padding-right: 20px !important;
}
.r-pad-xl {
  padding-right: 30px !important;
}
.r-pad-xxl {
  padding-right: 60px !important;
}
.b-pad-none {
  padding-bottom: 0px !important;
}
.b-pad-xs {
  padding-bottom: 3px !important;
}
.b-pad-sm {
  padding-bottom: 5px !important;
}
.b-pad-md {
  padding-bottom: 10px !important;
}
.b-pad-lg {
  padding-bottom: 20px !important;
}
.b-pad-xl {
  padding-bottom: 30px !important;
}
.b-pad-xxl {
  padding-bottom: 60px !important;
}
.t-pad-none {
  padding-top: 0px !important;
}
.t-pad-xs {
  padding-top: 3px !important;
}
.t-pad-sm {
  padding-top: 5px !important;
}
.t-pad-md {
  padding-top: 10px !important;
}
.t-pad-lg {
  padding-top: 20px !important;
}
.t-pad-xl {
  padding-top: 30px !important;
}
.t-pad-xxl {
  padding-top: 60px !important;
}
.margin-none {
  margin: 0px !important;
}
.margin-xs {
  margin: 3px !important;
}
.margin-sm {
  margin: 5px !important;
}
.margin-md {
  margin: 10px !important;
}
.margin-lg {
  margin: 20px !important;
}
.margin-xl {
  margin: 30px !important;
}
.margin-xxl {
  margin: 60px !important;
}
.l-margin-none {
  margin-left: 0px !important;
}
.l-margin-xs {
  margin-left: 3px !important;
}
.l-margin-sm {
  margin-left: 5px !important;
}
.l-margin-md {
  margin-left: 10px !important;
}
.l-margin-lg {
  margin-left: 20px !important;
}
.l-margin-xl {
  margin-left: 30px !important;
}
.l-margin-xxl {
  margin-left: 60px !important;
}
.r-margin-none {
  margin-right: 0px !important;
}
.r-margin-xs {
  margin-right: 3px !important;
}
.r-margin-sm {
  margin-right: 5px !important;
}
.r-margin-md {
  margin-right: 10px !important;
}
.r-margin-lg {
  margin-right: 20px !important;
}
.r-margin-xl {
  margin-right: 30px !important;
}
.r-margin-xxl {
  margin-right: 60px !important;
}
.b-margin-none {
  margin-bottom: 0px !important;
}
.b-margin-xs {
  margin-bottom: 3px !important;
}
.b-margin-sm {
  margin-bottom: 5px !important;
}
.b-margin-lg {
  margin-bottom: 20px !important;
}
.b-margin-md {
  margin-bottom: 10px !important;
}
.b-margin-xl {
  margin-bottom: 30px !important;
}
.b-margin-xxl {
  margin-bottom: 60px !important;
}
.t-margin-none {
  margin-top: 0px !important;
}
.t-margin-xs {
  margin-top: 3px !important;
}
.t-margin-sm {
  margin-top: 5px !important;
}
.t-margin-md {
  margin-top: 10px !important;
}
.t-margin-lg {
  margin-top: 20px !important;
}
.t-margin-xl {
  margin-top: 30px !important;
}
.t-margin-xxl {
  margin-top: 60px !important;
}
.btn {
  padding: 9px 24px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 20px;
}
.btn.btn-sm {
  padding: 6px 19px;
  font-size: 16px;
  line-height: 18px;
}
.btn.btn-primary {
  background-color: #3474da;
  border-color: #3474da;
  color: #ffffff;
}
.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active:focus {
  background-color: #4d87e5;
  border-color: #4d87e5;
  box-shadow: none;
}
.btn.btn-default {
  background-color: #ffffff;
  border-color: #3474da;
  color: #3474da;
}
.btn.btn-default:active,
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active:focus,
.btn.btn-default:active:hover {
  background-color: #3474da;
  border-color: #3474da;
  color: #ffffff;
  box-shadow: none;
}
.btn:active,
.btn:hover,
.btn:focus,
.btn:active:focus,
.btn:active:hover {
  outline: none;
}
.btn.btn-link-sm {
  font-size: 13px;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] {
  cursor: default;
}
.btn .btn.disabled.btn-default,
.btn[disabled].btn-default {
  opacity: 1;
  border-color: #cfd3d6;
  color: #cfd3d6;
}
.btn .btn.disabled.btn-primary,
.btn[disabled].btn-primary {
  opacity: 1;
  background-color: #cfd3d6;
  border-color: #cfd3d6;
  color: #ffffff;
}
